extends layout

block content
  h1 Archives

  ul
    each post in posts
          - const preview = post.content.length > 150 ? post.content.substring(0, 150) + "..." : post.content
          .post-card
            .post-header
              h3
                a(href=`/posts/${post.id}`)= post.title 
              if post.solved
                span.status.solved SOLVED
              else
                span.status.not-solved NOT SOLVED
            p= preview

            if post.comments && post.comments.length > 0
              .comments
                h4 Comments (#{post.comments.length})
                each comment in post.comments
                  .comment
                    .comment-row
                      img.avatar(src=`https://ui-avatars.com/api/?name=${comment.username}`)
                      p 
                        strong 
                          a(href=`/users/${comment.user_id}`)= `${comment.username}  ⭐${comment.reputation}`
            else
              p No comments.. Share your thoughts!