extends layout

block content
  section.hero
    h1 Error Handling Helpline
    p A place to get help for your errors.
    if user
      span Logged in as #{user.username}
      a(href="/logout") Logout
    else
      a.button(href="/sign-up") Get Started - Sign up Today!

  section.create-post
    if user
      a.button(href="/posts/new") Create Post

  section.posts-preview
    h2 Latest Posts

    if !posts || posts.length === 0
      p No posts yet... Go ahead, post away!
    else
      .posts
        each post in posts
          - const preview = post.content.length > 150 ? post.content.substring(0, 150) + "..." : post.content
          .post-card
            .post-header
              h3
                a(href=`/posts/${post.id}`)= post.title 
              if post.solved
                span.status.solved SOLVED
              else
                span.status.not-solved NOT SOLVED
            p= preview

            if post.comments && post.comments.length > 0
              .comments
                h4 Comments (#{post.comments.length})
                each comment in post.comments
                  .comment
                    p 
                      strong 
                        a(href=`/users/${comment.user_id}`)= `${comment.username} (${comment.reputation})`
                      br
                      | #{comment.content}
            else
              p No comments.. Share your thoughts!